doctype html
html(lang="en")
  head
    title Predict API
  body
    h1 Satellite Oribit Prediction
    ul
        li: a(href='/api/v1/satellites') List of known satellites
        li: a(href='/api/v1/predict') Information about the ground station
        li: a(href='/api/v1/satellites/HUBBLE') Information for the Hubble telescope
        li: a(href='/api/v1/satellites/HUBBLE/predict') Current orbits of Hubble
        li: a(href='/api/v1/ephemeris/sun') Ephemeris data for the Sun